<header id="home">
    <div class="container">
        <div class="myimage" data-aos="zoom-out-down" data-aos-duration="1500">
            <img src="assets/image/ME.png" alt="">
        </div>
        <div class="myinfo" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="info">

                <h2>Hello</h2>
                <h1>I'm <strong>Asia</strong></h1>
                <h1>a Frontend Developer</h1>
                <p style="font-size: 30px;">"Not knowing doesn't mean you can’t learn." 🚀</p>

            </div>
            <div class="box">
                <a href="https://github.com/Alice1548?tab=overview&from=2024-12-01&to=2024-12-31" target="_blank"><img src="github.png" alt="">Github</a>
                
            </div>
        </div>

    </div>
</header>

<div class="about-me" id="about">

    <div class="about-header" data-aos="fade-up">
        <h1>ABOUT ME</h1>
    </div>
    <div class="info">
        <div class="about-left-con" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="about-left">
                <h2>Personal Profile</h2>
                <p> I am a student in Information Technology with a strong passion for emerging technologies, AI, and
                    innovations in the IT field. I always strive to improve myself, learn new things, and grow my
                    skills. I enjoy taking on new challenges and aim to create solutions that fit the fast-changing
                    world of technology.</p>
                <h3>Education</h3>
                <h4>Kasetsart University Siracha Campus Bachelor's degree</h4>
                <h5>Information Technology branch</h5>
                <p class="box">GPAX : 3.21</p>
                <h3>Soft Skills</h3>
                <li>Creativity</li>
                <li>Team Collaboration</li>
                <li>Communication Skills</li>
                <li>Problem-Solving</li>

            </div>

        </div>
        <div class="about-logo" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <img class="im" src="assets/image/Mylogo.png" alt="">
        </div>
        <div class="about-right-con" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="500">


            <div class="about-right" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <h3>Computer Skills</h3>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Java</li>
                <li>Kotlin</li>
                <h3>Frameworks & Libraries</h3>
                <li>Angular</li>
                <li>Bootstrap</li>
                <h3>Tools & Platforms</h3>
                <li>GitHub</li>
                <li>Figma</li>
                <li>Postman</li>
                <li>MSSQL</li>
            </div>
        </div>

    </div>
</div>

<div class="port-1" id="project">
    <div class="port-header" data-aos="fade-right">
        <h1>PROJECT YEAR 1</h1>
    </div>
    <div class="project-1" data-aos="fade-left">
        <h1>Stadium Management System (C Programming)</h1>
        <div class="pro-con">
            <div class="proleft">
                <p>This project is about Stadium Management, where users can enter the number of people in different
                    stands and calculate the revenue based on ticket prices. It also includes options for viewing the
                    total number of people, total revenue, and food/merchandise purchases.</p>
                <h3>Key Learnings</h3>
                <li>User Input Handling: Learned to take and validate user inputs.</li>
                <li>Conditional Logic: Used if statements to check and adjust input values.</li>
                <li>Menu Navigation: Created a dynamic menu for selecting different options.</li>
                <li>Basic Calculations: Learned to perform simple arithmetic operations for revenue calculation.</li>
                <p>This project helped build a strong understanding of handling inputs, conditions, and basic operations
                    in a console-based application.</p>
            </div>
            <div class="proright">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/image/project-c-1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/project-c-2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/project-c-3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/project-c-5.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/project-c-6.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/project-c-7.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="port-2" id="project">
    <div class="port-header" data-aos="fade-left">
        <h1>PROJECT YEAR 2</h1>
    </div>
    <div class="project-1" data-aos="fade-right">
        <h1>AutoKey Game Marketplace (Figma)</h1>
        <div class="pro-con">
            <div class="proright">
                <div id="slide3" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/image/game-1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/game-2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/game-3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/game-4.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/game-5.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/game-6.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#slide3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slide3" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="proleft">
                <p>This project is about building an online game store called "Auto Key." Users can browse games, view
                    discounts, and make purchases. The website features user registration, game listings, and multiple
                    payment options.</p>
                <h3>Key Learnings</h3>
                <li>UI/UX Design: Designed user-friendly interfaces with Figma.</li>
                <li>Frontend Development: Built interactive pages and dynamic content.</li>
                <li>Prototyping: Created clickable prototypes to test functionality.</li>
                <li>Web Development Basics: Learned how online stores manage users, products, and payments.</li>
                <p>This project gave me a solid foundation in designing and developing websites.</p>
            </div>

        </div>
    </div>



</div>



<div class="port-1" id="project">

    <div class="project-1" data-aos="flip-down">
        <h1>E-commerce Web App for Scooter Sales</h1>
        <div class="pro-con">
            <div class="proleft">
                <p>This project focused on building an online store for selling scooters. Users can browse products,
                    view details, and make purchases easily. The site also offers user registration, discounts, and
                    multiple payment options.</p>
                <h3>Key Learnings</h3>
                <li>UI/UX Design: Created an intuitive and attractive layout to enhance user experience.</li>
                <li>Frontend Development: Built dynamic pages for seamless product browsing, cart functionality, and
                    checkout.</li>
                <li>Prototyping: Developed a clickable prototype to test and refine the websites features.</li>
                <li>Ecommerce Fundamentals: Gained hands-on experience with managing products, processing payments, and
                    optimizing user interactions.</li>
                <p>This project provided valuable skills in designing and developing a fully functional Ecommerce
                    platform, giving me a solid foundation in web development.</p>
            </div>
            <div class="proright">
                <div id="slide4" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/image/scooter1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/scooter2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/scooter3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/scooter4.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/scooter5.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#slide4" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slide4" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>
<div class="port-3" id="project">
    <div class="port-header" data-aos="fade-right">
        <h1>PROJECT YEAR 3</h1>
    </div>
    <div class="project-1" data-aos="fade-left">
        <h1>Web Application Income-Expense Tracking</h1>
        <div class="pro-con">
            <div class="proright">
                <div id="slide5" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/image/Expense1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense4.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense5.png" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="assets/image/Expense6.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense7.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense8.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense9.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/Expense10.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#slide5" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slide5" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="proleft">
                <p>This project is about tracking income and expenses, where users can record transactions, categorize
                    them, and analyze their financial data. It allows users to add, edit, and delete records, view
                    summaries, set budgets, and export data in Excel format. The web application is developed using
                    Angular for frontend, Node.js with Express.js for backend, and SQL Server as the database.</p>
                <h3>Key Learnings</h3>
                <li>Frontend (Angular): Developed a dynamic UI with component-based architecture.</li>
                <li>Backend (Node.js & Express.js): Built RESTful APIs for financial data management.</li>
                <li>Database (SQL Server): Designed relational schemas for efficient data storage.</li>
                <p>This project enhanced my full-stack development skills, focusing on UI/UX, database optimization, and performance improvements. </p>
            </div>


        </div>
    </div>



</div>
<div class="port-3" id="project">
    <div class="project-1" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <h1>Data Flow & Database Design</h1>
        <div class="pro-con">
            <div class="proright">
                <div id="slide6" class="carousel slide carousel-fade">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img src="assets/image/sa2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/sa3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/sa4.png" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="assets/image/sa5.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#slide6" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slide6" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="proleft">
                <p>This project involved designing Data Flow Diagrams (DFD) to illustrate how data moves through the system, from user input to database storage and retrieval.</p>
                <h3>Key Learnings</h3>
                <li>Data Flow Diagram (DFD): Mapped out user interactions.</li>
                <li>Entity-Relationship Diagram (ERD): Designed database relationships and entity structures for efficient data management.</li>
                <li>Database Schema: Created normalized tables in SQL Server, optimizing queries and indexing for performance.</li>
               
                <p>These designs ensure structured data flow, database efficiency </p>
            </div>


        </div>
    </div>



</div>



<div id="Cert" class="Certificate" >
    <h1  data-aos="fade-up">Certificate</h1>
    <div class="container"data-aos="fade-up">
        <div class="cert1">
            <img src="assets/image/Good.png" alt="">
        </div>
        <div class="cert2">
            <img src="assets/image/Icdl.png" alt="">
        </div>
    </div>
</div>